*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f0f0;
}

.app__header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.column{
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row{
    margin: 0 -5px;
}

.row-after{
    content: "";
    display: table;
    clear: both;
}

.card{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    transition: 0.3s;
    background-color:#ffffff;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
